{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'vender/css/static.css' %}">
        <link rel="stylesheet" href="{% static 'vender/css/resens.css' %}">
        <title>{{title}}</title>
    </head>
    <body>
        <!-- --- Header --- -->
        <header class="header">
            <div class="container">
                <div class="header__wrapper">
                    <div class="header__logo"><img src="/static/vender/img/logo.png" alt="logo"></div>
                    <div class="header__search">
                        <input type="text" placeholder="Поиск по сайту">
                        <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                    </div>
                    <div class="header__reg">
                        <button class="btn__login Login-popup" type="submit">Войти</button>
                    </div>
                </div>
            </div>
        </header>
        <div class="wrapper-popup">
            <div class="icon-close"><ion-icon name="close-outline"></ion-icon></div>
            <div class="form-box login">
                <h2>Login</h2>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" required>
                        <label>password</label>
                    </div>
                    <div class="remember">
                        <label>
                            <input type="checkbox">
                            Remember
                        </label>
                        <a href="">Забыли пароль?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <!-- regist -->
                    <div class="login-regist">
                        <p>Нет акк?<a href="#" class="regst-link">Регистрация</a></p>
                    </div>
                </form>
            </div>
            <div class="form-box registr">
                <h2>Registration</h2>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <input type="email" required>
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" required>
                        <label>password</label>
                    </div>
                    <div class="remember">
                        <label>
                            <input type="checkbox">
                            я прочитал и согласен с политикой кон
                        </label>
                    </div>
                    <button type="submit" class="btn">Регистрация</button>
                    <!-- regist -->
                    <div class="login-regist">
                        <p>есть акаун<a href="#" class="login-link">Войти</a></p>
                    </div>
            </div>
        </div>
    
                <!-- --- Navigation --- -->
        <nav class="nav">
            <div class="container">
                <ul class="nav__list">
                    <li class="nav__item"><a href="{% url 'index' %}">Главное</a></li>
                    <li class="nav__item"><a href="{% url 'roman' %}">Романы</a></li>
                    <li class="nav__item"><a href="{% url 'block' %}">Блоги</a></li>
                    <li class="nav__item"><a href="{% url 'stix' %}">Стихи</a></li>
                    <li class="nav__item"><a href="{% url 'sobit' %}">События</a></li>
                    <li class="nav__item"><a href="{% url 'resens' %}">Рецензии</a></li>
                </ul>
            </div>
        </nav>

        <main class="resens">
            <div class="container">
                <div class="resens__title">Рецензии</div>
                <div class="resens__subtitle">В чтении важен не только сам процесс, но и его экспертный анализ. Это страница, на которой собраны все рецензии на прочитанные книги пользователей. Здесь читатели делятся своим особенным мнением и конструктивными суждениями, логичными выводами и компетентными оценками прочитанного текста на основе личного осмысления произведения и авторских идей.</div>
                <div class="resens-item">
                    <div class="resens__user">
                        <div class="user__img"><img src="/static/vender/img/user.svg" alt=""></div>
                        <div class="user__name">Marco Reus</div>
                    </div>
                    <div class="resens__res">
                        <div class="res__title">Профиль убийцы. Психологические аспекты криминального профайлинга</div>
                        <div class="res__text">
                            Во-первых, в стиле "научно-популярном", т.е. взаимосвязаны важные для научного сообщества и для обычных читателей данные. <br>
                            Во-вторых, стиль "баттерфляй" - я считаю, это вообще искусство: уметь описать события художественным стилем, и тут же подать криминологический и психологический анализ происходящему, не искажая при этом документалистики. <br>
                            В-третьих, описаны наиболее интересные эпизоды из жизни самых известных маньяков, есть целый раздел о женщинах-серийных убийцах. Ну это как бы вообще бомба!!! <br>
                            В-четвертых, есть целая глава о массовых убийцах, в том числе о скулшутинге - это для России вообще непаханая целина. Да и вообще по массовым убийцам нигде в российской литературе нет никакого более-менее приличного анализа. Здесь есть. <br>
                            В-пятых, книга написана людьми, которые непосредственно работают с материалами по серийным маньякам и с ними самими. Описаны случаи, с которыми столкнулись они лично в своей профессиональной практике. Ну это вообще супер. Это гораздо лучше, чем читать фантазии людей, которые ни разу не сидели за одним столом с серийной убийцей, а могут просто красиво копирайтить. Тут другой случай, и эта книга для России действительно как событие для США в 1990-х, когда массово начали выходить в свет первые книги Джона Дугласа, который ЛИЧНО работал с самыми известными серийными убийцами. <br>
                            <br>
                            Интересный стиль изложения, читается легко, хорошее качество самой книги: жесткая обложка, переплет, отличная бумага. <br>
                            Понравилось также, считаю плюсом - полное погружение в сознание маньяка. Честно признаться, думала, что это просто для нагнетания, но НЕТ (!!!) действительно погружает! Это потрясающе!!! Вот что значит, люди лично с этим сталкивались! Это совсем другая атмосфера, настолько живая и реалистичная, что аж страшно становится. Но это несомненный плюс, так как книга должна действовать на способность воспринимать то, о чем она написана. <br>
                            Огромным плюсом считаю наличие ссылок и сносок на источники: изучала на днях подробно о массовых стрелках, - потрясающий материал, не ожидала, что будет смещение в сторону организованной группировки. Очень актуально, тем более я работаю в полиции и учусь в профильном ВУЗе, можно и статьи писать на конференции, и участвовать в круглых столах, даже ВКР защищать с помощью этой информации. Все настолько обосновано! СПАСИБО АВТОРАМ и издательству, конечно! <br>
                            
                            не увидела недостатков, но хотелось бы пожелать второе издание сделать расширенным, добавить больше о серийных, массовых, особенно о женщинах. Очень интересная и актуальная тема, хотелось бы еще чтобы было о женщинах-детоубийцах. Насколько мне известно, они тоже серийные.</div>
                    </div>
                    <div class="item__bottom">
                        <div class="resens__list">
                            <div class="res__like"><ion-icon name="heart"></ion-icon><span>32</span></div>
                            <div class="res__comment"><ion-icon name="chatbox"></ion-icon><span>20</span></div>
                        </div>
                        <div class="res__evel">
                            <div class="evel__number">10</div>
                            <div class="evel__data">
                                общая оценка <br>
                                2 мая 2023 г.</div>
                        </div>
                    </div>
                </div>
                <div class="resens-item">
                    <div class="resens__user">
                        <div class="user__img"><img src="/static/vender/img/user.svg" alt=""></div>
                        <div class="user__name">Marco Reus</div>
                    </div>
                    <div class="resens__res">
                        <div class="res__title">Профиль убийцы. Психологические аспекты криминального профайлинга</div>
                        <div class="res__text">
                            Во-первых, в стиле "научно-популярном", т.е. взаимосвязаны важные для научного сообщества и для обычных читателей данные. <br>
                            Во-вторых, стиль "баттерфляй" - я считаю, это вообще искусство: уметь описать события художественным стилем, и тут же подать криминологический и психологический анализ происходящему, не искажая при этом документалистики. <br>
                            В-третьих, описаны наиболее интересные эпизоды из жизни самых известных маньяков, есть целый раздел о женщинах-серийных убийцах. Ну это как бы вообще бомба!!! <br>
                            В-четвертых, есть целая глава о массовых убийцах, в том числе о скулшутинге - это для России вообще непаханая целина. Да и вообще по массовым убийцам нигде в российской литературе нет никакого более-менее приличного анализа. Здесь есть. <br>
                            В-пятых, книга написана людьми, которые непосредственно работают с материалами по серийным маньякам и с ними самими. Описаны случаи, с которыми столкнулись они лично в своей профессиональной практике. Ну это вообще супер. Это гораздо лучше, чем читать фантазии людей, которые ни разу не сидели за одним столом с серийной убийцей, а могут просто красиво копирайтить. Тут другой случай, и эта книга для России действительно как событие для США в 1990-х, когда массово начали выходить в свет первые книги Джона Дугласа, который ЛИЧНО работал с самыми известными серийными убийцами. <br>
                            <br>
                            Интересный стиль изложения, читается легко, хорошее качество самой книги: жесткая обложка, переплет, отличная бумага. <br>
                            Понравилось также, считаю плюсом - полное погружение в сознание маньяка. Честно признаться, думала, что это просто для нагнетания, но НЕТ (!!!) действительно погружает! Это потрясающе!!! Вот что значит, люди лично с этим сталкивались! Это совсем другая атмосфера, настолько живая и реалистичная, что аж страшно становится. Но это несомненный плюс, так как книга должна действовать на способность воспринимать то, о чем она написана. <br>
                            Огромным плюсом считаю наличие ссылок и сносок на источники: изучала на днях подробно о массовых стрелках, - потрясающий материал, не ожидала, что будет смещение в сторону организованной группировки. Очень актуально, тем более я работаю в полиции и учусь в профильном ВУЗе, можно и статьи писать на конференции, и участвовать в круглых столах, даже ВКР защищать с помощью этой информации. Все настолько обосновано! СПАСИБО АВТОРАМ и издательству, конечно! <br>
                            
                            не увидела недостатков, но хотелось бы пожелать второе издание сделать расширенным, добавить больше о серийных, массовых, особенно о женщинах. Очень интересная и актуальная тема, хотелось бы еще чтобы было о женщинах-детоубийцах. Насколько мне известно, они тоже серийные.</div>
                    </div>
                    <div class="item__bottom">
                        <div class="resens__list">
                            <div class="res__like"><ion-icon name="heart"></ion-icon><span>32</span></div>
                            <div class="res__comment"><ion-icon name="chatbox"></ion-icon><span>20</span></div>
                        </div>
                        <div class="res__evel">
                            <div class="evel__number">10</div>
                            <div class="evel__data">
                                общая оценка <br>
                                2 мая 2023 г.</div>
                        </div>
                    </div>
                </div>
                <div class="resens-item">
                    <div class="resens__user">
                        <div class="user__img"><img src="/static/vender/img/user.svg" alt=""></div>
                        <div class="user__name">Marco Reus</div>
                    </div>
                    <div class="resens__res">
                        <div class="res__title">Профиль убийцы. Психологические аспекты криминального профайлинга</div>
                        <div class="res__text">
                            Во-первых, в стиле "научно-популярном", т.е. взаимосвязаны важные для научного сообщества и для обычных читателей данные. <br>
                            Во-вторых, стиль "баттерфляй" - я считаю, это вообще искусство: уметь описать события художественным стилем, и тут же подать криминологический и психологический анализ происходящему, не искажая при этом документалистики. <br>
                            В-третьих, описаны наиболее интересные эпизоды из жизни самых известных маньяков, есть целый раздел о женщинах-серийных убийцах. Ну это как бы вообще бомба!!! <br>
                            В-четвертых, есть целая глава о массовых убийцах, в том числе о скулшутинге - это для России вообще непаханая целина. Да и вообще по массовым убийцам нигде в российской литературе нет никакого более-менее приличного анализа. Здесь есть. <br>
                            В-пятых, книга написана людьми, которые непосредственно работают с материалами по серийным маньякам и с ними самими. Описаны случаи, с которыми столкнулись они лично в своей профессиональной практике. Ну это вообще супер. Это гораздо лучше, чем читать фантазии людей, которые ни разу не сидели за одним столом с серийной убийцей, а могут просто красиво копирайтить. Тут другой случай, и эта книга для России действительно как событие для США в 1990-х, когда массово начали выходить в свет первые книги Джона Дугласа, который ЛИЧНО работал с самыми известными серийными убийцами. <br>
                            <br>
                            Интересный стиль изложения, читается легко, хорошее качество самой книги: жесткая обложка, переплет, отличная бумага. <br>
                            Понравилось также, считаю плюсом - полное погружение в сознание маньяка. Честно признаться, думала, что это просто для нагнетания, но НЕТ (!!!) действительно погружает! Это потрясающе!!! Вот что значит, люди лично с этим сталкивались! Это совсем другая атмосфера, настолько живая и реалистичная, что аж страшно становится. Но это несомненный плюс, так как книга должна действовать на способность воспринимать то, о чем она написана. <br>
                            Огромным плюсом считаю наличие ссылок и сносок на источники: изучала на днях подробно о массовых стрелках, - потрясающий материал, не ожидала, что будет смещение в сторону организованной группировки. Очень актуально, тем более я работаю в полиции и учусь в профильном ВУЗе, можно и статьи писать на конференции, и участвовать в круглых столах, даже ВКР защищать с помощью этой информации. Все настолько обосновано! СПАСИБО АВТОРАМ и издательству, конечно! <br>
                            
                            не увидела недостатков, но хотелось бы пожелать второе издание сделать расширенным, добавить больше о серийных, массовых, особенно о женщинах. Очень интересная и актуальная тема, хотелось бы еще чтобы было о женщинах-детоубийцах. Насколько мне известно, они тоже серийные.</div>
                    </div>
                    <div class="item__bottom">
                        <div class="resens__list">
                            <div class="res__like"><ion-icon name="heart"></ion-icon><span class="like-res">33</span></div>
                            <div class="res__comment"><ion-icon name="chatbox"></ion-icon><span>20</span></div>
                        </div>
                        <div class="res__evel">
                            <div class="evel__number">10</div>
                            <div class="evel__data">
                                общая оценка <br>
                                2 мая 2023 г.</div>
                        </div>
                    </div>
                </div>
                <div class="resens-item">
                    <div class="resens__user">
                        <div class="user__img"><img src="/static/vender/img/user.svg" alt=""></div>
                        <div class="user__name">Marco Reus</div>
                    </div>
                    <div class="resens__res">
                        <div class="res__title">Профиль убийцы. Психологические аспекты криминального профайлинга</div>
                        <div class="res__text">
                            Во-первых, в стиле "научно-популярном", т.е. взаимосвязаны важные для научного сообщества и для обычных читателей данные. <br>
                            Во-вторых, стиль "баттерфляй" - я считаю, это вообще искусство: уметь описать события художественным стилем, и тут же подать криминологический и психологический анализ происходящему, не искажая при этом документалистики. <br>
                            В-третьих, описаны наиболее интересные эпизоды из жизни самых известных маньяков, есть целый раздел о женщинах-серийных убийцах. Ну это как бы вообще бомба!!! <br>
                            В-четвертых, есть целая глава о массовых убийцах, в том числе о скулшутинге - это для России вообще непаханая целина. Да и вообще по массовым убийцам нигде в российской литературе нет никакого более-менее приличного анализа. Здесь есть. <br>
                            В-пятых, книга написана людьми, которые непосредственно работают с материалами по серийным маньякам и с ними самими. Описаны случаи, с которыми столкнулись они лично в своей профессиональной практике. Ну это вообще супер. Это гораздо лучше, чем читать фантазии людей, которые ни разу не сидели за одним столом с серийной убийцей, а могут просто красиво копирайтить. Тут другой случай, и эта книга для России действительно как событие для США в 1990-х, когда массово начали выходить в свет первые книги Джона Дугласа, который ЛИЧНО работал с самыми известными серийными убийцами. <br>
                            <br>
                            Интересный стиль изложения, читается легко, хорошее качество самой книги: жесткая обложка, переплет, отличная бумага. <br>
                            Понравилось также, считаю плюсом - полное погружение в сознание маньяка. Честно признаться, думала, что это просто для нагнетания, но НЕТ (!!!) действительно погружает! Это потрясающе!!! Вот что значит, люди лично с этим сталкивались! Это совсем другая атмосфера, настолько живая и реалистичная, что аж страшно становится. Но это несомненный плюс, так как книга должна действовать на способность воспринимать то, о чем она написана. <br>
                            Огромным плюсом считаю наличие ссылок и сносок на источники: изучала на днях подробно о массовых стрелках, - потрясающий материал, не ожидала, что будет смещение в сторону организованной группировки. Очень актуально, тем более я работаю в полиции и учусь в профильном ВУЗе, можно и статьи писать на конференции, и участвовать в круглых столах, даже ВКР защищать с помощью этой информации. Все настолько обосновано! СПАСИБО АВТОРАМ и издательству, конечно! <br>
                            
                            не увидела недостатков, но хотелось бы пожелать второе издание сделать расширенным, добавить больше о серийных, массовых, особенно о женщинах. Очень интересная и актуальная тема, хотелось бы еще чтобы было о женщинах-детоубийцах. Насколько мне известно, они тоже серийные.</div>
                    </div>
                    <div class="item__bottom">
                        <div class="resens__list">
                            <div class="res__like"><ion-icon name="heart"></ion-icon><span>32</span></div>
                            <div class="res__comment"><ion-icon name="chatbox"></ion-icon><span>20</span></div>
                        </div>
                        <div class="res__evel">
                            <div class="evel__number">10</div>
                            <div class="evel__data">
                                общая оценка <br>
                                2 мая 2023 г.</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

         <!-- --- Roman --- -->
    <section class="section__roman">
        <div class="container">
            <h2 class="roman__title">Романы</h2>
            <div class="roman__wrapper">
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <!-- footer -->
<footer class="footer">
    <div class="container">
        <ul class="footer-social_icon">
            <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-tiktok"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-youtube"></ion-icon></a></li>
            <li><a href=""><ion-icon name="logo-xbox"></ion-icon></a></li>
        </ul>
        <ul class="footer-menu">
            <li><a href="{% url 'index' %}">Главное</a></li>
            <li><a href="{% url 'roman' %}">Романы</a></li>
            <li><a href="{% url 'block' %}">Блоги</a></li>
            <li><a href="{% url 'stix' %}">Стихи</a></li>
            <li><a href="{% url 'sobit' %}">События</a></li>
            <li><a href="{% url 'resens' %}">Рецензии</a></li>
        </ul>
        <p>© 2023 HayLib</p>
    </div>
</footer>
<!-- footer -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<!-- footer -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'vender/js/script.js' %}"></script>
</body>
</html>