{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'vender/css/static.css' %}">
        <link rel="stylesheet" href="{% static 'vender/css/sobit.css' %}">
        <title>{{title}}</title>
    </head>
    <body>
        <!-- --- Header --- -->
        <header class="header">
            <div class="container">
                <div class="header__wrapper">
                    <div class="header__logo"><img src="/static/vender/img/logo.png" alt="logo"></div>
                    <div class="header__search">
                        <input type="text" placeholder="Поиск по сайту">
                        <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                    </div>
                    <div class="header__reg">
                        <button class="btn__login Login-popup" type="submit">Войти</button>
                    </div>
                </div>
            </div>
        </header>
        <div class="wrapper-popup">
            <div class="icon-close"><ion-icon name="close-outline"></ion-icon></div>
            <div class="form-box login">
                <h2>Login</h2>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" required>
                        <label>password</label>
                    </div>
                    <div class="remember">
                        <label>
                            <input type="checkbox">
                            Remember
                        </label>
                        <a href="">Забыли пароль?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <!-- regist -->
                    <div class="login-regist">
                        <p>Нет акк?<a href="#" class="regst-link">Регистрация</a></p>
                    </div>
                </form>
            </div>
            <div class="form-box registr">
                <h2>Registration</h2>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <input type="email" required>
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" required>
                        <label>password</label>
                    </div>
                    <div class="remember">
                        <label>
                            <input type="checkbox">
                            я прочитал и согласен с политикой кон
                        </label>
                    </div>
                    <button type="submit" class="btn">Регистрация</button>
                    <!-- regist -->
                    <div class="login-regist">
                        <p>есть акаун<a href="#" class="login-link">Войти</a></p>
                    </div>
            </div>
        </div>
    
                <!-- --- Navigation --- -->
        <nav class="nav">
            <div class="container">
                <ul class="nav__list">
                    <li class="nav__item"><a href="{% url 'index' %}">Главное</a></li>
                    <li class="nav__item"><a href="{% url 'roman' %}">Романы</a></li>
                    <li class="nav__item"><a href="{% url 'block' %}">Блоги</a></li>
                    <li class="nav__item"><a href="{% url 'stix' %}">Стихи</a></li>
                    <li class="nav__item"><a href="{% url 'sobit' %}">События</a></li>
                    <li class="nav__item"><a href="{% url 'resens' %}">Рецензии</a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="container">
                <h2 class="sobit-title">События</h2>
                <div class="sobit-item">
                    <div class="sobit__img"><img src="/static/vender/img/block-item.jpg" alt=""></div>
                    <div class="sobit__text">
                        <div class="item__head">
                            <div class="item__title">Капитал</div>
                            <div class="item__subtitle">Автор: Карл Маркс</div>
                        </div>
                        <div class="item__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate doloremque necessitatibus magni facere ratione vero natus cumque consectetur officiis culpa eum, quos laudantium eius id quidem, voluptatum eligendi, et blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti reprehenderit illo sit laudantium, similique maiores libero nobis vero dolorum tenetur accusantium quidem voluptatum officiis quod nemo perspiciatis qui vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis quas quasi quod, fuga, corrupti doloribus voluptatem beatae ducimus sunt eaque minima consectetur dolorum dicta est enim ipsa consequatur ratione.</div>
                    </div>
                </div>
                <div class="sobit-item">
                    <div class="sobit__img"><img src="/static/vender/img/block-item.jpg" alt=""></div>
                    <div class="sobit__text">
                        <div class="item__head">
                            <div class="item__title">Капитал</div>
                            <div class="item__subtitle">Автор: Карл Маркс</div>
                        </div>
                        <div class="item__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate doloremque necessitatibus magni facere ratione vero natus cumque consectetur officiis culpa eum, quos laudantium eius id quidem, voluptatum eligendi, et blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti reprehenderit illo sit laudantium, similique maiores libero nobis vero dolorum tenetur accusantium quidem voluptatum officiis quod nemo perspiciatis qui vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis quas quasi quod, fuga, corrupti doloribus voluptatem beatae ducimus sunt eaque minima consectetur dolorum dicta est enim ipsa consequatur ratione.</div>
                    </div>
                </div>
                <div class="sobit-item">
                    <div class="sobit__img"><img src="/static/vender/img/block-item.jpg" alt=""></div>
                    <div class="sobit__text">
                        <div class="item__head">
                            <div class="item__title">Капитал</div>
                            <div class="item__subtitle">Автор: Карл Маркс</div>
                        </div>
                        <div class="item__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate doloremque necessitatibus magni facere ratione vero natus cumque consectetur officiis culpa eum, quos laudantium eius id quidem, voluptatum eligendi, et blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti reprehenderit illo sit laudantium, similique maiores libero nobis vero dolorum tenetur accusantium quidem voluptatum officiis quod nemo perspiciatis qui vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis quas quasi quod, fuga, corrupti doloribus voluptatem beatae ducimus sunt eaque minima consectetur dolorum dicta est enim ipsa consequatur ratione.</div>
                    </div>
                </div>
                <div class="sobit-item">
                    <div class="sobit__img"><img src="/static/vender/img/block-item.jpg" alt=""></div>
                    <div class="sobit__text">
                        <div class="item__head">
                            <div class="item__title">Капитал</div>
                            <div class="item__subtitle">Автор: Карл Маркс</div>
                        </div>
                        <div class="item__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate doloremque necessitatibus magni facere ratione vero natus cumque consectetur officiis culpa eum, quos laudantium eius id quidem, voluptatum eligendi, et blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti reprehenderit illo sit laudantium, similique maiores libero nobis vero dolorum tenetur accusantium quidem voluptatum officiis quod nemo perspiciatis qui vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis quas quasi quod, fuga, corrupti doloribus voluptatem beatae ducimus sunt eaque minima consectetur dolorum dicta est enim ipsa consequatur ratione.</div>
                    </div>
                </div>
                <div class="sobit-item">
                    <div class="sobit__img"><img src="/static/vender/img/block-item.jpg" alt=""></div>
                    <div class="sobit__text">
                        <div class="item__head">
                            <div class="item__title">Капитал</div>
                            <div class="item__subtitle">Автор: Карл Маркс</div>
                        </div>
                        <div class="item__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate doloremque necessitatibus magni facere ratione vero natus cumque consectetur officiis culpa eum, quos laudantium eius id quidem, voluptatum eligendi, et blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis deleniti reprehenderit illo sit laudantium, similique maiores libero nobis vero dolorum tenetur accusantium quidem voluptatum officiis quod nemo perspiciatis qui vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nobis quas quasi quod, fuga, corrupti doloribus voluptatem beatae ducimus sunt eaque minima consectetur dolorum dicta est enim ipsa consequatur ratione.</div>
                    </div>
                </div>
            </div>
        </main>


        <!-- --- Roman --- -->
    <section class="section__roman">
        <div class="container">
            <h2 class="roman__title">Романы</h2>
            <div class="roman__wrapper">
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
                <a href="{% url 'roman' %}">
                    <div class="roman__item">
                        <div class="roman__lable"><img src="/static/vender/img/roman.png" alt="page"></div>
                        <div class="roman__subname">Джо Диспенза</div>
                        <div class="roman__name">Сила подсознания, или Как изменить</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <ul class="footer-social_icon">
                    <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href=""><ion-icon name="logo-tiktok"></ion-icon></a></li>
                    <li><a href=""><ion-icon name="logo-youtube"></ion-icon></a></li>
                    <li><a href=""><ion-icon name="logo-xbox"></ion-icon></a></li>
                </ul>
                <ul class="footer-menu">
                    <li><a href="{% url 'index' %}">Главное</a></li>
                    <li><a href="{% url 'roman' %}">Романы</a></li>
                    <li><a href="{% url 'block' %}">Блоги</a></li>
                    <li><a href="{% url 'stix' %}">Стихи</a></li>
                    <li><a href="{% url 'sobit' %}">События</a></li>
                    <li><a href="{% url 'resens' %}">Рецензии</a></li>
                </ul>
                <p>© 2023 HayLib</p>
            </div>
        </footer>
        <!-- footer -->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <!-- footer -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="{% static 'vender/js/script.js' %}"></script>
    </body>
</html>