{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'vender/css/static.css' %}">
        <link rel="stylesheet" href="{% static 'vender/css/stix.css' %}">
        <title>{{title}}</title>
    </head>
    <body>
        <!-- --- Header --- -->
        <header class="header">
            <div class="container">
                <div class="header__wrapper">
                    <div class="header__logo"><img src="/static/vender/img/logo.png" alt="logo"></div>
                    <div class="header__search">
                        <input type="text" placeholder="Поиск по сайту">
                        <button type="submit"><ion-icon name="search-outline"></ion-icon></button>
                    </div>
                    <div class="header__reg">
                        <button class="btn__login Login-popup" type="submit">Войти</button>
                    </div>
                </div>
            </div>
        </header>
        <div class="wrapper-popup">
            <div class="icon-close"><ion-icon name="close-outline"></ion-icon></div>
            <div class="form-box login">
                <h2>Login</h2>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" required>
                        <label>password</label>
                    </div>
                    <div class="remember">
                        <label>
                            <input type="checkbox">
                            Remember
                        </label>
                        <a href="">Забыли пароль?</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <!-- regist -->
                    <div class="login-regist">
                        <p>Нет акк?<a href="#" class="regst-link">Регистрация</a></p>
                    </div>
                </form>
            </div>
            <div class="form-box registr">
                <h2>Registration</h2>
                <form action="#">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <input type="email" required>
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" required>
                        <label>password</label>
                    </div>
                    <div class="remember">
                        <label>
                            <input type="checkbox">
                            я прочитал и согласен с политикой кон
                        </label>
                    </div>
                    <button type="submit" class="btn">Регистрация</button>
                    <!-- regist -->
                    <div class="login-regist">
                        <p>есть акаун<a href="#" class="login-link">Войти</a></p>
                    </div>
            </div>
        </div>
    
                <!-- --- Navigation --- -->
        <nav class="nav">
            <div class="container">
                <ul class="nav__list">
                    <li class="nav__item"><a href="{% url 'index' %}">Главное</a></li>
                    <li class="nav__item"><a href="{% url 'roman' %}">Романы</a></li>
                    <li class="nav__item"><a href="{% url 'block' %}">Блоги</a></li>
                    <li class="nav__item"><a href="{% url 'stix' %}">Стихи</a></li>
                    <li class="nav__item"><a href="{% url 'sobit' %}">События</a></li>
                    <li class="nav__item"><a href="{% url 'resens' %}">Рецензии</a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="roman-block">
                <div class="container">
                    <div class="roman-block__wrapper">
                        <div class="roman__item">
                            <div class="roman__logo"><img src="/static/vender/img/roman/roman-logo.png" alt=""></div>
                            <div class="roman__rating"><img src="/static/vender/img/roman/roman-rating.png" alt=""></div>
                        </div>
                        <div class="roman__disc">
                            <div class="roman-disc__title">Названия стиха</div>
                            <div class="roman-disc__text">
                                    Отмщенье, государь, отмщенье! <br>
                                    Паду к ногам твоим:<br>
                                    Будь справедлив и накажи убийцу,<br>
                                    Чтоб казнь его в позднейшие века<br>
                                    Твой правый суд потомству возвестила,<br>
                                    Чтоб видели злодеи в ней пример.<br>
                                    <br>
                                    Погиб поэт! — невольник чести —<br>
                                    Пал, оклеветанный молвой,<br>
                                    С свинцом в груди и жаждой мести,<br>
                                    Поникнув гордой головой!..<br>
                                    Не вынесла душа поэта<br>
                                    Позора мелочных обид,<br>
                                    Восстал он против мнений света<br>
                                    Один, как прежде… и убит!<br>
                                    Убит!.. К чему теперь рыданья,<br>
                                    Пустых похвал ненужный хор<br>
                                    И жалкий лепет оправданья?<br>
                                    Судьбы свершился приговор!<br>
                                    Не вы ль сперва так злобно гнали<br>
                                    Его свободный, смелый дар<br>
                                    И для потехи раздували<br>
                                    Чуть затаившийся пожар?<br>
                                    Что ж? веселитесь… Он мучений<br>
                                    Последних вынести не мог:<br>
                                    Угас, как светоч, дивный гений,<br>
                                    Увял торжественный венок.<br>
                                    <br>
                                    Его убийца хладнокровно<br>
                                    Навел удар… спасенья нет:<br>
                                    Пустое сердце бьется ровно,<br>
                                    В руке не дрогнул пистолет.<br>
                                    И что за диво?.. издалека,<br>
                            </div>
                            <div class="roman-disc__stat"></div>
                        </div>
                    </div>
                    <div class="roman__comment">
                        <div class="comment__title">Коментарий</div>
                        <div class="commet__wrapper">
                            <div class="commet__user"><img src="/static/vender/img/user.svg" alt=""></div>
                            <div class="commet__input"><input type="text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Stix -->
        <section class="section__stix">
            <div class="container">
                <h2 class="stix__titl">Стихи</h2>
                <div class="roman-stix">
                    <a href="{% url 'stix' %}">
                        <div class="stix__item">
                            <div class="stix__lable"><img src="/static/vender/img/stix.png" alt="stix"></div>
                            <div class="stix__text">
                                <div class="stix__title">Манящая тень</div>
                                <div class="stix__subtitle">
                                    <p>Меня зовут Веспер, и я чудовище. Я могу <br> материализовать ваши самые худшие страхи, <br> превратить кошмары...</p>
                                    <p>Меня зовут Веспер, и я чудовище. Я могу <br> материализовать ваши самые худшие страхи, <br> превратить кошмары...</p>
                                </div>    
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'stix' %}">
                        <div class="stix__item">
                            <div class="stix__lable"><img src="/static/vender/img/stix.png" alt="stix"></div>
                            <div class="stix__text">
                                <div class="stix__title">Манящая тень</div>
                                <div class="stix__subtitle">
                                    <p>Меня зовут Веспер, и я чудовище. Я могу <br> материализовать ваши самые худшие страхи, <br> превратить кошмары...</p>
                                    <p>Меня зовут Веспер, и я чудовище. Я могу <br> материализовать ваши самые худшие страхи, <br> превратить кошмары...</p>
                                </div>    
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'stix' %}">
                        <div class="stix__item">
                            <div class="stix__lable"><img src="/static/vender/img/stix.png" alt="stix"></div>
                            <div class="stix__text">
                                <div class="stix__title">Манящая тень</div>
                                <div class="stix__subtitle">
                                    <p>Меня зовут Веспер, и я чудовище. Я могу <br> материализовать ваши самые худшие страхи, <br> превратить кошмары...</p>
                                    <p>Меня зовут Веспер, и я чудовище. Я могу <br> материализовать ваши самые худшие страхи, <br> превратить кошмары...</p>
                                </div>    
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'stix' %}">
                        <div class="stix__item">
                            <div class="stix__lable"><img src="/static/vender/img/stix.png" alt="stix"></div>
                            <div class="stix__text">
                                <div class="stix__title">Манящая тень</div>
                                <div class="stix__subtitle">
                                    <p>Меня зовут Веспер, и я чудовище. Я могу <br> материализовать ваши самые худшие страхи, <br> превратить кошмары...</p>
                                    <p>Меня зовут Веспер, и я чудовище. Я могу <br> материализовать ваши самые худшие страхи, <br> превратить кошмары...</p>
                                </div>    
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'stix' %}">
                        <div class="stix__item">
                            <div class="stix__lable"><img src="/static/vender/img/stix.png" alt="stix"></div>
                            <div class="stix__text">
                                <div class="stix__title">Манящая тень</div>
                                <div class="stix__subtitle">
                                    <p>Меня зовут Веспер, и я чудовище. Я могу <br> материализовать ваши самые худшие страхи, <br> превратить кошмары...</p>
                                    <p>Меня зовут Веспер, и я чудовище. Я могу <br> материализовать ваши самые худшие страхи, <br> превратить кошмары...</p>
                                </div>    
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <ul class="footer-social_icon">
                    <li><a href=""><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a href=""><ion-icon name="logo-tiktok"></ion-icon></a></li>
                    <li><a href=""><ion-icon name="logo-youtube"></ion-icon></a></li>
                    <li><a href=""><ion-icon name="logo-xbox"></ion-icon></a></li>
                </ul>
                <ul class="footer-menu">
                    <li><a href="{% url 'index' %}">Главное</a></li>
                    <li><a href="{% url 'roman' %}">Романы</a></li>
                    <li><a href="{% url 'block' %}">Блоги</a></li>
                    <li><a href="{% url 'stix' %}">Стихи</a></li>
                    <li><a href="{% url 'sobit' %}">События</a></li>
                    <li><a href="{% url 'resens' %}">Рецензии</a></li>
                </ul>
                <p>© 2023 HayLib</p>
            </div>
        </footer>
        <!-- footer -->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <!-- footer -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="{% static 'vender/js/script.js' %}"></script>
    </body>
</html>